.home {
  z-index: -1;
}
/* first section */
.firstSection {
  background-color: #b51827;
  width: 100%;
  height: 500px;
  color: white;
  position: relative;
}
.contentWrapper {
  padding-left: 820px;
  padding-right: 20px;
  padding-top: 230px;
}
.pri1,
.pri2,
.pri3,
.pri4,
.pri5 {
  text-align: center;
  font-size: 25px;
  font-weight: lighter;
  font-family: "Courier New", Courier, monospace;
}
.triangleUp {
  position: absolute;
  top: -1;
  bottom: 0;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  width: 900px;
  height: 400px;
  overflow: hidden;
  margin: auto; /* Center the container horizontally */
}
.triangleUp img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* second section */
.secondSection {
  padding: 70px 150px;
}
.secondSectionHeading {
  display: flex;
}
.since1993 {
  padding-left: 10px;
  color: #b51827;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  line-height: inherit;
  word-spacing: -10px;
}
.secondSectionHeading h1 {
  font-size: 50px;
  font-weight: lighter;
  font-family: "Courier New", Courier, monospace;
  line-height: inherit;
  word-spacing: -10px;
  padding-bottom: 40px;
  text-transform: capitalize;
}
.about_wrapper {
  display: flex;
}
.lineHeight {
  margin-left: 150px;
  width: 1px;
  height: 150px;
  background-color: #b51827;
}
.rightSection {
  padding: 17px 22px;
  font-size: 18px;
  font-weight: lighter;
  font-family: "Courier New", Courier, monospace;
  word-spacing: -5px;
}
.aboutus_Brief {
  padding: 11px 0px;
}

.readmore_Button button {
  padding: 10px 30px;
  color: white;
  border: none;

  background-color: #fcb116;

  position: relative;
  isolation: isolate;
}

.readmore_Button button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0;
  background-color: #b51827;
  z-index: -1;
  transition: width 0.5s;
}
.readmore_Button button::before {
  content: "";
  position: absolute;
  top: -3px;
  right: 4px;
  background-image: url("../../assets/buttonimage.svg");
  background-size: contain;
  background-position: center;
  height: 15px;
  width: 35px;
  background-repeat: no-repeat;
}

.readmore_Button button:hover::after {
  transition: width 0.6s cubic-bezier(0.58, 1.65, 0.55, 0.65);
  width: 100%;
}

/* third section */
.thirdSection {
  padding-right: 150px;
  padding-left: 150px;
  padding-bottom: 150px;
  display: flex;
  flex-direction: column;
}
.thirdSection h1 {
  font-size: 50px;
  color: #b51827;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  line-height: inherit;
  word-spacing: -10px;
  padding-bottom: 40px;
  text-transform: capitalize;
}
.grid_Container {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  gap: 30px;
}
.image_Box {
  position: relative;
  transition: opacity 1s;
  grid-column: span 2;
}
.big_image img {
  width: 100%;
  height: 290px;
  object-fit: cover;

  object-position: center;
  transition: transform 1s;
}

.image_Box:hover {
  border: 5px solid #b51827;
}
.image_Box:hover .big_image img {
  opacity: 0.5;
}

.hover_Image img {
  position: absolute;
  bottom: 7px;
  left: 0px;
  width: 100px;
  height: 80px;
  transition: transform 3s;
}

.image_Box:hover .hover_Image img {
  opacity: 1;
  width: 200px;
  transform: translate(150%, -100%);

  /* translate: 150px -100px 50px; */
  object-fit: cover;
}

.second_Image_Box {
  position: relative;
  transition: opacity 1s;

  grid-row: span 2;
}
.second_Big_image img {
  width: 100%;
  height: 620px;
  object-fit: cover;

  object-position: center;
  transition: transform 1s;
}

.second_Image_Box:hover {
  border: 5px solid #b51827;
}
.second_Image_Box:hover .second_Big_image img {
  opacity: 0.5;
}

.second_hover_Image img {
  position: absolute;
  bottom: 5px;
  left: 0px;
  width: 100px;
  height: 80px;
  transition: transform 3s;
}

.second_Image_Box:hover .second_hover_Image img {
  opacity: 1;
  width: 200px;
  transform: translate(45%, -260%);

  /* translate: 150px -100px 50px; */
  object-fit: cover;
}

.image_Box3 {
  position: relative;
  transition: opacity 1s;
}
.big_image3 img {
  width: 100%;
  height: 290px;
  object-fit: cover;

  object-position: center;
  transition: transform 1s;
}

.image_Box3:hover {
  border: 5px solid #b51827;
}
.image_Box3:hover .big_image3 img {
  opacity: 0.5;
}

.hover_Image3 img {
  position: absolute;
  bottom: 10px;
  left: 0px;
  width: 100px;
  height: 80px;
  transition: transform 3s;
}

.image_Box3:hover .hover_Image3 img {
  opacity: 1;
  width: 200px;
  transform: translate(150px, -100px);

  /* translate: 150px -100px 50px; */
  object-fit: cover;
}

.image_Box4 {
  position: relative;
  transition: opacity 1s;
}
.big_image4 img {
  width: 100%;
  height: 290px;
  object-fit: cover;

  object-position: center;
  transition: transform 1s;
}

.image_Box4:hover {
  border: 5px solid #b51827;
}
.image_Box4:hover .big_image4 img {
  opacity: 0.5;
}

.hover_Image4 img {
  position: absolute;
  bottom: 10px;
  left: 0px;
  width: 100px;
  height: 80px;
  transition: transform 3s;
}

.image_Box4:hover .hover_Image4 img {
  opacity: 1;
  width: 200px;
  transform: translate(150px, -100px);

  /* translate: 150px -100px 50px; */
  object-fit: cover;
}
.text_Box {
  position: relative;
  isolation: isolate;
  padding: 50px 50px;
}
.text_Box::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -3px;
  background-image: url("../../assets/buttonimage.svg");
  background-size: contain;
  background-position: center;
  height: 25px;
  width: 150px;
  background-repeat: no-repeat;
}
.more_projects {
  font-family: "Courier New", Courier, monospace;
  font-size: 22px;
  text-align: justify;
  word-spacing: -11px;
}
.more_projects p {
  padding-bottom: 30px;
}
.more_projects button {
  padding: 15px 30px;
  background-color: #fcb116;
  border: none;
  color: white;
  position: relative;
  isolation: isolate;
}
.more_projects button::after {
  content: "";
  position: absolute;
  top: -1px;
  right: 2px;
  background-image: url("../../assets/buttonimage.svg");
  background-size: contain;
  background-position: center;
  height: 15px;
  width: 50px;
  background-repeat: no-repeat;
}
.more_projects button::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0;
  background-color: #b51827;
  z-index: -1;
  transition: width 0.5s;
}
.more_projects button:hover::before {
  transition: width 0.6s cubic-bezier(0.58, 1.65, 0.55, 0.65);
  width: 100%;
}
@media (max-width: 768px) {
  .firstSection {
    height: 500px;
  }
  .contentWrapper {
    padding-left: 350px;
    padding-right: 8px;
    padding-top: 130px;
    font-size: 9px;
  }

  .triangleUp {
    width: 400px;
    height: 160px;
  }
}
@media (max-width: 1024px) {
  .firstSection {
    height: 500px;
  }
  .contentWrapper {
    padding-left: 390px;
    padding-right: 0;
    padding-top: 250px;
    font-size: 11px;
  }
  .contentWrapper h3 {
    font-size: 27px;
    line-height: inherit;
    word-spacing: -3px;
  }

  .triangleUp {
    width: 520px;
    height: 410px;
  }

  .secondSection {
    padding: 35px 20px;
  }

  .secondSectionHeading h1 {
    font-size: 40px;

    word-spacing: -3px;

    padding-bottom: 45px;
  }
  .about_wrapper {
    display: flex;
  }
  .lineHeight {
    margin-left: 70px;
  }
  .rightSection {
    padding: 0px 25px;
    font-size: 23px;
    font-weight: lighter;
    font-family: "Courier New", Courier, monospace;
    word-spacing: -3px;
    text-align: justify;
  }
  .aboutus_Brief {
    padding: 0px 0px;
    padding-bottom: 10px;
  }
  .readmore_Button button {
    padding: 10px 30px;
    background-color: #fcb116;
    border: none;
    color: white;
  }

  .pri1,
  .pri2,
  .pri3,
  .pri4,
  .pri5 {
    text-align: center;
    font-size: 8px;
    font-weight: lighter;
    font-family: "Courier New", Courier, monospace;
  }
}
@media (max-width: 820px) {
  .firstSection {
    height: 500px;
  }
  .contentWrapper {
    padding-left: 260px;
    font-weight: lighter;
    padding-top: 250px;
    padding-right: 0px;
  }
  .contentWrapper h3 {
    font-size: 20px;
    line-height: inherit;
    word-spacing: -1px;
  }
  .triangleUp {
    width: 350px;
    height: 410px;
  }
  .secondSection {
    padding: 35px 20px;
  }

  .secondSectionHeading h1 {
    font-size: 30px;

    word-spacing: -3px;

    padding-bottom: 45px;
  }
  .about_wrapper {
    display: flex;
  }
  .lineHeight {
    margin-left: 70px;
  }
  .rightSection {
    padding: 10px 20px;
    font-size: 20px;
    font-weight: lighter;
    font-family: "Courier New", Courier, monospace;
    word-spacing: -11px;
    text-align: justify;
  }
  .aboutus_Brief {
    padding: 0px 0px;
    padding-bottom: 10px;
  }
  .readmore_Button button {
    padding: 10px 30px;
    background-color: #fcb116;
    border: none;
    color: white;
  }

  .pri1,
  .pri2,
  .pri3,
  .pri4,
  .pri5 {
    text-align: center;
    font-size: 8px;
    font-weight: lighter;
    font-family: "Courier New", Courier, monospace;
  }
}
@media (max-width: 640px) {
  .firstSection {
    height: 400px;
  }
  .contentWrapper {
    padding-left: 160px;
    word-spacing: -1px;
    padding-top: 230px;
  }

  .contentWrapper h3 {
    font-size: 9px;
    line-height: inherit;
    word-spacing: -1px;
  }
  .triangleUp {
    width: 210px;
    height: 310px;
  }

  /* this is new */
  .secondSection {
    padding: 15px 20px;
  }

  .secondSectionHeading h1 {
    font-size: 20px;
    font-weight: lighter;
    font-family: "Courier New", Courier, monospace;
    line-height: inherit;
    word-spacing: -1px;
    padding-bottom: 10px;
    text-transform: capitalize;
  }
  .about_wrapper {
    display: flex;
  }
  .lineHeight {
    display: none;
  }
  .rightSection {
    padding: 3px 0px;
    font-size: 16px;
    font-weight: lighter;
    font-family: "Courier New", Courier, monospace;
    word-spacing: -11px;
    text-align: justify;
  }
  .aboutus_Brief {
    padding: 0px 0px;
    padding-bottom: 10px;
  }
  .readmore_Button button {
    padding: 10px 30px;
    background-color: #fcb116;
    border: none;
    color: white;
  }

  .pri1,
  .pri2,
  .pri3,
  .pri4,
  .pri5 {
    text-align: center;
    font-size: 8px;
    font-weight: lighter;
    font-family: "Courier New", Courier, monospace;
  }
  /* third section */
  .thirdSection {
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
  }
  .thirdSection h1 {
    font-size: 23px;
    color: #b51827;
    font-weight: bold;
    font-family: "Courier New", Courier, monospace;
    line-height: inherit;
    word-spacing: -10px;
    padding-bottom: 40px;
    text-transform: capitalize;
  }
  .grid_Container {
    display: flex;
    flex-direction: column;
  }
  .image_Box {
    position: relative;
    transition: opacity 1s;
    grid-column: span 2;
  }
  .big_image img {
    width: 100%;
    height: 290px;
    object-fit: cover;

    object-position: center;
    transition: transform 1s;
  }

  .image_Box:hover {
    border: 5px solid #b51827;
  }
  .image_Box:hover .big_image img {
    opacity: 0.5;
  }

  .hover_Image img {
    position: absolute;
    bottom: 7px;
    left: 0px;
    width: 100px;
    height: 80px;
    transition: transform 3s;
  }

  .image_Box:hover .hover_Image img {
    opacity: 1;
    width: 200px;
    transform: translate(30%, -110%);

    /* translate: 150px -100px 50px; */
    object-fit: cover;
  }

  .second_Image_Box {
    position: relative;
    transition: opacity 1s;

    grid-row: span 2;
  }
  .second_Big_image img {
    width: 100%;
    height: 290px;
    object-fit: cover;

    object-position: center;
    transition: transform 1s;
  }

  .second_Image_Box:hover {
    border: 5px solid #b51827;
  }
  .second_Image_Box:hover .second_Big_image img {
    opacity: 0.5;
  }

  .second_hover_Image img {
    position: absolute;
    bottom: 5px;
    left: 0px;
    width: 100px;
    height: 80px;
    transition: transform 3s;
  }

  .second_Image_Box:hover .second_hover_Image img {
    opacity: 1;
    width: 200px;
    transform: translate(30%, -110%);

    /* translate: 150px -100px 50px; */
    object-fit: cover;
  }

  .image_Box3 {
    position: relative;
    transition: opacity 1s;
  }
  .big_image3 img {
    width: 100%;
    height: 290px;

    object-fit: cover;

    object-position: center;
    transition: transform 1s;
  }

  .image_Box3:hover {
    border: 5px solid #b51827;
  }
  .image_Box3:hover .big_image3 img {
    opacity: 0.5;
  }

  .hover_Image3 img {
    position: absolute;
    bottom: 10px;
    left: 0px;
    width: 100px;
    height: 80px;
    transition: transform 3s;
  }

  .image_Box3:hover .hover_Image3 img {
    opacity: 1;
    width: 200px;
    transform: translate(30px, -110px);

    /* translate: 150px -100px 50px; */
    object-fit: cover;
  }

  .image_Box4 {
    position: relative;
    transition: opacity 1s;
  }
  .big_image4 img {
    width: 100%;
    height: 290px;
    object-fit: cover;

    object-position: center;
    transition: transform 1s;
  }

  .image_Box4:hover {
    border: 5px solid #b51827;
  }
  .image_Box4:hover .big_image4 img {
    opacity: 0.5;
  }

  .hover_Image4 img {
    position: absolute;
    bottom: 10px;
    left: 0px;
    width: 100px;
    height: 80px;
    transition: transform 3s;
  }

  .image_Box4:hover .hover_Image4 img {
    opacity: 1;
    width: 200px;
    transform: translate(300px, -110px);

    /* translate: 150px -100px 50px; */
    object-fit: cover;
  }
  .text_Box {
    position: relative;
    isolation: isolate;
    padding: 40px 35px;
  }
  .text_Box::before {
    content: "";
    position: absolute;
    top: -1px;
    left: -3px;
    background-image: url("../../assets/buttonimage.svg");
    background-size: contain;
    background-position: center;
    height: 25px;
    width: 150px;
    background-repeat: no-repeat;
  }
  .more_projects {
    font-family: "Courier New", Courier, monospace;
    font-size: 18px;
    text-align: justify;
    word-spacing: -11px;
  }
}
.forthSection {
  width: 100%;
}
.brandsWrapper img {
  width: 100%;
  height: 720px;
  object-fit: cover;
  object-position: center;
  position: relative;
}
/* .brandsWrapper img::before {
  content: "kkkkkk";
  position: absolute;
  inset: 0;
  
  color: black; 
  font-size: 100px;

} */
.brandsWrapper {
  width: 100%;
  height: 720px;
  overflow: hidden; /* This prevents the card section from overflowing the image */
}

.forthSection {
  position: relative;
  height: 700px;
  background-position: center;
  background-size: cover;
}
.forthSection::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  filter: grayscale(100%);
  background-image: url("../../assets/pexels-pixabay-260922.jpg");
   /* backgroundImage: `url(${kitchen4})`, */
  /* Replace with your image path */
  opacity: 0.6; /* Adjust the opacity as needed */
  z-index: -1;
}

.brandsContentWrapper {
 
  padding: 70px 150px;
  color: white;
  font-size: 40px;
  display: flex;
  gap:10px;
}
.kitchenEquipmentWraper{
padding-left: 160px;
word-wrap: break-all;
}
.homeBrandCardSecton {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 300px;

  display: grid;
  grid-template-columns: repeat(4, 250px);
  gap: 40px;
}

.homeBrandCardInner {
  border: 10px solid rgba(175, 170, 170, 0.3);
  

  background-color: white;
  transition: 0.6s;
}
.homeBrandCardInner:hover {
  border-color: transparent;
}
